@layout('base')
@section('content')

<h1>All Product</h1>
<table class="table">
<tr>
<th>product id</th>
<th>flavour</th>
<th>sugar</th>
<th>topping</th>
</tr>

@each(x in x)
<tr>
<td>{{x.id}}</td>
<td>{{x.flavour.tea}}</td>
<td>{{x.sugar.level}}</td>
@each(t in x.toppings)
<td>{{t.topping}}</td>
@endeach
</tr>
@endeach
</table>

@endsection
