@layout('base')
@section('content')

<h1>Product selected</h1>
<div class="container">
<form method="POST">
<table clsss="table">
<tr>
<th>product id</th>
<th>flavour</th>
<th>sugar</th>
<th>topping</th>
</tr>


<tr>
<td>{{product.id}}</td>
<td>{{flavours.tea}}</td>
<td>{{sugars.level}}</td>
@each(t in toppings)
<td>{{t.topping}},</td>
@endeach



</tr>
</table>
<input type="submit" class="btn btn-success" value="add to cart"/>

</div>

@endsection
