@layout('base')

@section('content')

<h1>New product</h1>

<form method="POST">
{{ csrfField() }}
<div>
<label>flavour</label>
<input type='text' name='tea'/>
</div>
<div>
<label>Please enter a price</label>
<input type='text' name='price'/>
</div>
<input type='submit'/>
</form>


@endsection
